*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #050813;
}

.header{
    padding: 2rem;
    background-color: #09141e;
}

/*START Navigation Styling*/
.navigation{
    background-color: #222735;
    text-align: center;
    padding: 10px;
    margin: 0px;
}

.navigation a{
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    color: #3e9f95;
    text-transform: uppercase;
}

.navigation a:hover{
    font-weight: 600;
    color: #c5a284;
    transform: translate(-20%, -20%);
    transition: all 0.4s ease-in-out;
    filter: drop-shadow(0px 0px 10px #f5faae);
}
/*SLUT Navigation Styling*/
/* User Bio styling START */
#bioContainer{
    color: white;
    flex-wrap: wrap ;
    background-color: #1d475ba6;
    padding: 2rem;
    justify-content: center;
    margin: 2rem;
}

#bioContainer div{
    flex: 0 50%;
}

#UserNameAndReg, #imgDiv{
    text-align: center;
}

#userNameDiv{
    color: #7eb4cf;
    font-size: 22px;
}

#imgDiv img{
    border: solid 6px #09141e;
}

#userBox{
    color: #7eb4cf;
}

#imgDiv img{
    max-width: 20rem;
}

#deleteButton{
    background-color: #64212c;
    border: solid transparent 5px;
    border-radius: 100px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#deleteButton:hover{
    background-color: #9c0909;
    transition: all 0.4s ease-in-out;
    filter: drop-shadow(0px 0px 8px #e45959);
}

/* SLUT User bio styling */
/* START Styling till login och regestrerings formulär */

#forms{
    display: flex;
    justify-content: center;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #1d253b;
    background-image: url(http://lol-stats.net/uploads/FpuvHt29W2bG6KPWKQ5ybcEW63BfFf2dIWIfbwjq.jpeg);
    background-size: cover;
    opacity: 100%;
    border-radius: 20px;

    filter: drop-shadow(10px 10px 4px #020307);

    width: 60rem;
    height: 40rem;
}

#forms h2{
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #1d475b;
    text-shadow: -1px -1px 0 #317392, 1px -1px 0 #317392, -1px 1px 0 #163646, 1px 1px 0 #163646;
    filter: drop-shadow(0px 0px 8px #fde0b3);
}

#forms h4{
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    color:#161a25;
    background: radial-gradient(circle, #1d475b 0%, rgba(253,213,214,0) 100%);
}

#loginForm, #registerForm{
    width: 50%;
    padding: 10px;
    opacity: 50%;
}

#loginForm:hover, #registerForm:hover{
    opacity: 100%;
    transition: all 0.4s ease-in-out;
}

.twoForms input[type=text], .twoForms input[type=password], .twoForms select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    border: 3px solid white;
}

.twoForms input[type=text]:focus, .twoForms input[type=password]:focus, .twoForms select:focus{
    outline:none;
    border: 3px solid #f3ce95;
}

.twoForms input{
    width: 100%;
}

.twoForms button{
    background-color: #1d475b;
    border: solid transparent 5px;
    border-radius: 100px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.twoForms button:hover{
    background-color: #f3ce95;
    transform: translate(-20%, -20%);
    transition: all 0.4s ease-in-out;
    filter: drop-shadow(0px 0px 8px #fde0b3);
}

#loginButton{
    position: absolute;
    top: 75%;
    left: 20%;
    margin-right: -50%;
    transform: translate(-20%, -20%);
}

#signupButton{
    position: absolute;
    top: 75%;
    left: 70%;
    margin-right: -50%;
    transform: translate(-20%, -20%);
}

/* END Styling till login och regestrerings formulär */
/*Forums styling*/

.yourPlace{
    color: #7eb4cf;
    margin: 20px 0px;
    text-align: center;
}

.addMessageToForum{
    margin-top: 50px;
    text-align: center;
}

#sendMessageToForum{
    background-color: #214f64;
    border: solid transparent 5px;
    border-radius: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#postWrapper{
    margin: 0rem 2rem;
    background-color: #1d475ba6;
    text-align: left;
}

.forumPost{
    padding: 20px 20px;
    border-bottom:#161a25 solid 2px;
}

.forumPost:hover{
    transition: all 0.4s ease-in-out;
    width: 98%;
    padding: 20px 20px;
    background-color: #2a6f8fa6;
}

.postName{
    color:white;
}

.postMessage{
    color: #7eb4cf;
}

.button{
    position: absolute;
    right: 50px;

    background-color: #214f64;
    border: solid transparent 5px;
    border-radius: 100px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button:hover, #sendMessageToForum:hover{
    background-color: #f3ce95;
    transition: all 0.4s ease-in-out;
    filter: drop-shadow(0px 0px 8px #fde0b3);
}

#anyUserContainer, #showUserBio{
    color: white;
    border: solid #09141e 2px;
    background-color: #0d1c2b;
    text-align: center;
}

#anyUserContainer{
    margin-top: 50px;
}

#anyUserContainer button{
    background-color: #214f64;
    border: solid #0b1a22 2px;
    padding: 5px;
    margin: 5px 2px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#anyUserContainer button:hover{
    background-color: #3c7d9b;
    transition: all 0.4s ease-in-out;
    filter: drop-shadow(0px 0px 8px #3c7d9b);
    border: solid transparent 2px;
}

#showUserBio img{
    width: 20%;
    border: solid 4px #09141e;
}